.gradient-custom {
    /* fallback for old browsers */
    background: #0f0101;
    
    
    /* Chrome 10-25, Safari 5.1-6 */
    background:  #0f0101;
    ;
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background:  #ffffff;
    background-image: url("../../img/bg2.jpg"); 
    background-size:30%; 
    background-size:cover; 
    }
.bg-dark{ 
    background : #318497!important;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
    border: 2px solid red;
}